<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Life Campus Fellowship, FUTA</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" type="text/css" rel="stylesheet" >
    <link href="css/style.css"  rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
    <link href="owl.carousel.min.css" rel="stylesheet">
    <link href="owl.theme.default.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css " rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <!-- Navbar Begins -->
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container"> 
      <div class="float-right" style="width: 80%;"> 
        <a class="navbar-brand" href="/"><img src="../img/new life logo.png" style="width: 10%;"></a>
      </div>
    
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav" style="text-align: right;">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
          <li class="nav-item active"><a href="/about" class="nav-link">About</a></li>
          <li class="nav-item"><a href="/events" class="nav-link">Events</a></li>
          <li class="nav-item"><a href="/messages" class="nav-link">Messages</a></li>
          <li class="nav-item"><a href="/blogs" class="nav-link">Blogs</a></li>
          <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
        </ul>
      </div>     
    </div>
  </nav>
<!-- Navbar Ends -->
  
  <div class="about-top-img">
    <h2 class="top-text">About Us</h2><br>
  </div>
  <!-- End Head area -->

  <section >
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col-sm-6">
            <h3 class="bolder text-center">About New Life Campus Fellowship, Futa</h3>
            <p style="color: #768495;">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Est explicabo placeat id deserunt culpa minima eveniet maiores. Ex, fugiat harum. Fugit a, animi quasi dignissimos dolorem quidem voluptate repellendus vero!
            </p>
            <h4 class="bolder text-center">Service days</h4>

            <div class="row">
              <div class="col-sm-6">
                <span class="bolder" style="color: #495057;">Tuesday - </span><span style="color:#495057;"> Bible Study</span><br>
                <i class="fa fa-clock-o" aria-hidden="true" style="color:#768495;"></i><span style="color:#495057;"> 6:00pm - 7:30pm</span><br><br>
    
                <span class="bolder" style="color:#495057;">Friday - </span><span style="color:#495057;"> Prayer Meeting</span><br>
                <i class="fa fa-clock-o" aria-hidden="true" style="color:#495057;"></i><span style="color:#495057;"> 6:00pm - 7:30pm</span><br><br>
    
                <span class="bolder" style="color: #768495;">Sunday - </span><span style="color: #768495;"> Glorious Service</span><br>
                <i class="fa fa-clock-o" aria-hidden="true" style="color:#495057;"></i><span style="color:#495057;"> 8:00am - 10:30am</span><br><br>
              </div>
              <div class="col-sm-6">
                <i class="fa fa-map-marker" aria-hidden="true" style="color:#495057;"></i><span class="bolder" style="color:#495057;"> Location</span><br><br>
                <p>
                  Along Embassy logde,<br>
                  FUTA south gate,<br>
                  Akure, Ondo State
                </p>
              </div>

            </div>

            <div class="dsg">
              <h5 class="bolder text-center">Follow us on our social media platforms</h5>
              <center>
                
              <!--twitter-->
              <a href=""><button type="button" class="btn social-link"><i class="fa fa-twitter"></i></button></a>
              <!--Google-->
              <a href=""><button type="button" class="btn social-link"><i class="fa fa-whatsapp"></i> </button></a>
              <!--Google-->
              <a href=""><button type="button" class="btn social-link"><i class="fa fa-instagram"></i> </button></a>
              <!--Google-->
              <a href=""><button type="button" class="btn social-link"><i class="fa fa-facebook"></i> </button></a>
              <!--Youtube-->
              <a href=""><button type="button" class="btn social-link"><i class="fa fa-youtube"></i> </button></a><br>
              </center>
            </div><br><br><br>
          </div>

          <div class="col-sm-6">
            <div class="">
              <img src="../img/DSC_7180.JPG" width="100%"><br><br>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4 justify-content-center d-flex">
            <div class="">

              <div class="box-cont shadow p-3 mb-5 bg-white rounded">
                <center>
                  <i class="fa fa-binoculars" aria-hidden="true" style="color: #495057; font-size: 150px;"></i><br><br>
                  <h3 class="blog-title">Our Vission</h3><br>
                </center>
                <i class="fa fa-quote-left" aria-hidden="true" style="color:#377DFF; font-size:20px;"></i>
                  <p style="color:#495057;">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates ratione laudantium 
                    numquam magnam explicabo at unde vel, voluptatibus temporibus cupiditate neque minima pariatur 
                    adipisci id distinctio quos dolore, impedit et!    
                  </p>
                  <i class="fa fa-quote-right" aria-hidden="true" style="color:#377DFF; font-size:20px;"></i>
                 
              </div>
            </div>
          </div>

          <div class="col-sm-4 justify-content-center d-flex">
            <div class="">

              <div class="box-cont shadow p-3 mb-5 bg-white rounded">
                <center>
                  <i class="fa fa-book" aria-hidden="true" style="color: #495057; font-size: 150px;"></i><br><br>
                  <h3 class="blog-title">Our Message</h3><br>
                </center>
                  <i class="fa fa-quote-left" aria-hidden="true" style="color:#377DFF; font-size:20px;"></i>
                  <p style="color:#495057;">          
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates ratione laudantium 
                    numquam magnam explicabo at unde vel, voluptatibus temporibus cupiditate neque minima pariatur 
                    adipisci id distinctio quos dolore, impedit et!
                    
                  </p>
                  <i class="fa fa-quote-right" aria-hidden="true" style="color:#377DFF; font-size:20px;"></i>
                 
              </div>
            </div>
          </div>

          <div class="col-sm-4 justify-content-center d-flex">
            <div class="">

              <div class="box-cont shadow p-3 mb-5 bg-white rounded">
                <center>
                  <i class="fa fa-rocket" aria-hidden="true" style="color: #495057; font-size: 150px;"></i><br><br>
                  <h3 class="blog-title">Our Mission</h3><br>
                </center>
                <i class="fa fa-quote-left" aria-hidden="true" style="color:#377DFF; font-size:20px;"></i>
                  <p style="color:#495057;">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates ratione laudantium 
                    numquam magnam explicabo at unde vel, voluptatibus temporibus cupiditate neque minima pariatur 
                    adipisci id distinctio quos dolore, impedit et!
                    
                  </p>
                  <i class="fa fa-quote-right" aria-hidden="true" style="color:#377DFF; font-size:20px;"></i>
              </div>
            </div>
          </div>

        </div>

      </div>
          
    </div>

    <!-- Meet Our Excos -->
    <div class="dsg">
      <!-- <div class="container">
        <div class="section ">
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
              <h2 class="text-center bolder">Meet Our Executives.</h2>
              <p class="text-center">The 11th generation executives</p><br><br>
            </div>
            <div class="col-sm-3"></div>
          </div>
    
          <div class="row ftco-animate">
            <div class="col-md-12">
              <div class="carousel-excos owl-carousel ftco-owl">
                <div class="item text-center">
                  <div class=" shadow p-3 mb-5 bg-white rounded">
                    <div class=" ">
                      <div class="">
                        <img src="/img/person_2.jpg" class="excos-img">
                      </div>
            
        
                        <i class="fa fa-user" aria-hidden="true" style="color: #377DFF;"></i><span style="color: #768495;"> Name: </span><span> Bro Emmanuel Omomowo</span><br>
                        <i class="fa fa-phone" aria-hidden="true" style="color: #377DFF;"></i><span style="color: #768495;"> Phone number: </span><span>080346256251</span><br>
                        <i class="fa fa-briefcase" aria-hidden="true" style="color: #377DFF;"></i><span style="color: #768495;"> Office: </span><span>The President</span><br>
                    
                    </div>
                  </div>
                </div>
    
                <div class="item text-center">
                  <div class="box shadow p-3 mb-5 bg-white rounded">
                    <div class="box-content text-center">
                      <img src="/img/Person_1.jpg" class="excos-img"> -->
                      <!-- bottom contents -->
                      <!-- <div class="btm-box-content">
                        <i class="fa fa-user" aria-hidden="true" style="color: #377DFF;"></i><span style="color: #768495;"> Name: </span><span> Bro Emmanuel Omomowo</span><br>
                        <i class="fa fa-phone" aria-hidden="true" style="color: #377DFF;"></i><span style="color: #768495;"> Phone number: </span><span>080346256251</span><br>
                        <i class="fa fa-briefcase" aria-hidden="true" style="color: #377DFF;"></i><span style="color: #768495;"> Office: </span><span>The President</span><br>
                      </div>
                    </div>
                  </div>
                </div>
    
              </div>
    
              
            </div>
          </div>
        </div>
      </div> -->

      <div class="container">
       
        <div class="section">
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
              <h2 class="text-center bolder">Meet Our Executives.</h2>
              <% for (var i = 0; i < text.length; i++  ){ %>
              <p class="text-center"> <%= text[i].text %></p><br><br>
              <% } %>
            </div>
            <div class="col-sm-3"></div>
          </div>

          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <% for (var i = 0; i < excos.length; i++  ){ %>
                    <div class="col-sm-4">
                        <div class="box shadow p-3 mb-5 bg-white rounded">
                            <center>
                              <div class="" style="width: 60%; height: 40%;">
                                <img src="<%= excos[i].imgUrl %>" height="200px" class="excos-img">
                              </div>
                            </center>
                            <!-- bottom contents  -->
                            <div class="btm-box-content">
                                <i class="fa fa-user Excos" aria-hidden="true"></i><span class="Excos"> Name: </span><span> <%= excos[i].name %></span><br>
                                <i class="fa fa-graduation-cap Excos" aria-hidden="true" ></i><span class="Excos"> Course: </span><span> <%= excos[i].dept %></span><br>
                                <i class="fa fa-phone Excos" aria-hidden="true" ></i><span class="Excos"> Phone number: </span><span> <%= excos[i].phone  %></span><br>
                                <i class="fa fa-briefcase Excos" aria-hidden="true" ></i><span class="bolder" > Office: </span><span class="bolder"><%= excos[i].office  %></span><br>
                                <i class="fa fa-paper-plane Excos" aria-hidden="true"></i><span class="Excos"> Level: </span><span><%= excos[i].level  %></span><br>
                            </div>
                        </div>
                    </div>
                  <% } %>
                  
                  
              <!-- <div class="carousel-item">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="box shadow p-3 mb-5 bg-white rounded">
                      <div class="" style="width: 60%; height: 50%;">
                        <img src="../img/person_1.jpg" class="excos-img">
                      </div> -->
                      <!-- bottom contents  -->
                      <!-- <div class="btm-box-content">
                        <i class="fa fa-user Excos" aria-hidden="true"></i><span class="Excos"> Name: </span><span> Bro Emmanuel Omomowo</span><br>
                        <i class="fa fa-graduation-cap Excos" aria-hidden="true" ></i><span class="Excos"> Course: </span><span> Enterprenueship & Management Tech.</span><br>
                        <i class="fa fa-phone Excos" aria-hidden="true" ></i><span class="Excos"> Phone number: </span><span> 080346256251</span><br>
                        <i class="fa fa-briefcase Excos" aria-hidden="true" ></i><span class="bolder" > Office: </span><span class="bolder"> The President</span><br>
                        <i class="fa fa-paper-plane Excos" aria-hidden="true"></i><span class="Excos"> Level: </span><span> 500</span><br>
                      </div>
                    </div>
                  </div> -->
                  <!-- <div class="col-sm-4">
                    <div class="box shadow p-3 mb-5 bg-white rounded">
                      <div class="" style="width: 60%; height: 50%;">
                        <img src="../img/person_1.jpg" class="excos-img">
                      </div> -->
                      <!-- bottom contents  -->
                      <!-- <div class="btm-box-content">
                        <i class="fa fa-user Excos" aria-hidden="true"></i><span class="Excos"> Name: </span><span> Bro Emmanuel Omomowo</span><br>
                        <i class="fa fa-graduation-cap Excos" aria-hidden="true" ></i><span class="Excos"> Course: </span><span> Enterprenueship & Management Tech.</span><br>
                        <i class="fa fa-phone Excos" aria-hidden="true" ></i><span class="Excos"> Phone number: </span><span> 080346256251</span><br>
                        <i class="fa fa-briefcase Excos" aria-hidden="true" ></i><span class="bolder" > Office: </span><span class="bolder"> The President</span><br>
                        <i class="fa fa-paper-plane Excos" aria-hidden="true"></i><span class="Excos"> Level: </span><span> 500</span><br>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="box shadow p-3 mb-5 bg-white rounded">
                      <div class="" style="width: 60%; height: 50%;">
                        <img src="../img/person_1.jpg" class="excos-img">
                      </div> -->
                      <!-- bottom contents  -->
                      <!-- <div class="btm-box-content">
                        <i class="fa fa-user Excos" aria-hidden="true"></i><span class="Excos"> Name: </span><span> Bro Emmanuel Omomowo</span><br>
                        <i class="fa fa-graduation-cap Excos" aria-hidden="true" ></i><span class="Excos"> Course: </span><span> Enterprenueship & Management Tech.</span><br>
                        <i class="fa fa-phone Excos" aria-hidden="true" ></i><span class="Excos"> Phone number: </span><span> 080346256251</span><br>
                        <i class="fa fa-briefcase Excos" aria-hidden="true" ></i><span class="bolder" > Office: </span><span class="bolder"> The President</span><br>
                        <i class="fa fa-paper-plane Excos" aria-hidden="true"></i><span class="Excos"> Level: </span><span> 500</span><br>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="box shadow p-3 mb-5 bg-white rounded">
                      <div class="" style="width: 60%; height: 50%;">
                        <img src="../img/person_1.jpg" class="excos-img">
                      </div> -->
                      <!-- bottom contents  -->
                      <!-- <div class="btm-box-content">
                        <i class="fa fa-user Excos" aria-hidden="true"></i><span class="Excos"> Name: </span><span> Bro Emmanuel Omomowo</span><br>
                        <i class="fa fa-graduation-cap Excos" aria-hidden="true" ></i><span class="Excos"> Course: </span><span> Enterprenueship & Management Tech.</span><br>
                        <i class="fa fa-phone Excos" aria-hidden="true" ></i><span class="Excos"> Phone number: </span><span> 080346256251</span><br>
                        <i class="fa fa-briefcase Excos" aria-hidden="true" ></i><span class="bolder" > Office: </span><span class="bolder"> The President</span><br>
                        <i class="fa fa-paper-plane Excos" aria-hidden="true"></i><span class="Excos"> Level: </span><span> 500</span><br>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="box shadow p-3 mb-5 bg-white rounded">
                      <div class="" style="width: 60%; height: 50%;">
                        <img src="../img/person_1.jpg" class="excos-img">
                      </div> -->
                      <!-- bottom contents  -->
                      <!-- <div class="btm-box-content">
                        <i class="fa fa-user Excos" aria-hidden="true"></i><span class="Excos"> Name: </span><span> Bro Emmanuel Omomowo</span><br>
                        <i class="fa fa-graduation-cap Excos" aria-hidden="true" ></i><span class="Excos"> Course: </span><span> Enterprenueship & Management Tech.</span><br>
                        <i class="fa fa-phone Excos" aria-hidden="true" ></i><span class="Excos"> Phone number: </span><span> 080346256251</span><br>
                        <i class="fa fa-briefcase Excos" aria-hidden="true" ></i><span class="bolder" > Office: </span><span class="bolder"> The President</span><br>
                        <i class="fa fa-paper-plane Excos" aria-hidden="true"></i><span class="Excos"> Level: </span><span> 500</span><br>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="box shadow p-3 mb-5 bg-white rounded">
                      <div class="" style="width: 60%; height: 50%;">
                        <img src="../img/person_1.jpg" class="excos-img">
                      </div> -->
                      <!-- bottom contents  -->
                      <!-- <div class="btm-box-content">
                        <i class="fa fa-user Excos" aria-hidden="true"></i><span class="Excos"> Name: </span><span> Bro Emmanuel Omomowo</span><br>
                        <i class="fa fa-graduation-cap Excos" aria-hidden="true" ></i><span class="Excos"> Course: </span><span> Enterprenueship & Management Tech.</span><br>
                        <i class="fa fa-phone Excos" aria-hidden="true" ></i><span class="Excos"> Phone number: </span><span> 080346256251</span><br>
                        <i class="fa fa-briefcase Excos" aria-hidden="true" ></i><span class="bolder" > Office: </span><span class="bolder"> The President</span><br>
                        <i class="fa fa-paper-plane Excos" aria-hidden="true"></i><span class="Excos"> Level: </span><span> 500</span><br>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="box shadow p-3 mb-5 bg-white rounded">
                      <div class="" style="width: 60%; height: 50%;">
                        <img src="../img/person_1.jpg" class="excos-img">
                      </div> -->
                      <!-- bottom contents  -->
                      <!-- <div class="btm-box-content">
                        <i class="fa fa-user Excos" aria-hidden="true"></i><span class="Excos"> Name: </span><span> Bro Emmanuel Omomowo</span><br>
                        <i class="fa fa-graduation-cap Excos" aria-hidden="true" ></i><span class="Excos"> Course: </span><span> Enterprenueship & Management Tech.</span><br>
                        <i class="fa fa-phone Excos" aria-hidden="true" ></i><span class="Excos"> Phone number: </span><span> 080346256251</span><br>
                        <i class="fa fa-briefcase Excos" aria-hidden="true" ></i><span class="bolder" > Office: </span><span class="bolder"> The President</span><br>
                        <i class="fa fa-paper-plane Excos" aria-hidden="true"></i><span class="Excos"> Level: </span><span> 500</span><br>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="box shadow p-3 mb-5 bg-white rounded">
                      <div class="" style="width: 60%; height: 50%;">
                        <img src="../img/person_1.jpg" class="excos-img">
                      </div> -->
                      <!-- bottom contents  -->
                      <!-- <div class="btm-box-content">
                        <i class="fa fa-user Excos" aria-hidden="true"></i><span class="Excos"> Name: </span><span> Bro Emmanuel Omomowo</span><br>
                        <i class="fa fa-graduation-cap Excos" aria-hidden="true" ></i><span class="Excos"> Course: </span><span> Enterprenueship & Management Tech.</span><br>
                        <i class="fa fa-phone Excos" aria-hidden="true" ></i><span class="Excos"> Phone number: </span><span> 080346256251</span><br>
                        <i class="fa fa-briefcase Excos" aria-hidden="true" ></i><span class="bolder" > Office: </span><span class="bolder"> The President</span><br>
                        <i class="fa fa-paper-plane Excos" aria-hidden="true"></i><span class="Excos"> Level: </span><span> 500</span><br>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="box shadow p-3 mb-5 bg-white rounded">
                      <div class="" style="width: 60%; height: 50%;">
                        <img src="../img/person_1.jpg" class="excos-img">
                      </div> -->
                      <!-- bottom contents  -->
                      <!-- <div class="btm-box-content">
                        <i class="fa fa-user Excos" aria-hidden="true"></i><span class="Excos"> Name: </span><span> Bro Emmanuel Omomowo</span><br>
                        <i class="fa fa-graduation-cap Excos" aria-hidden="true" ></i><span class="Excos"> Course: </span><span> Enterprenueship & Management Tech.</span><br>
                        <i class="fa fa-phone Excos" aria-hidden="true" ></i><span class="Excos"> Phone number: </span><span> 080346256251</span><br>
                        <i class="fa fa-briefcase Excos" aria-hidden="true" ></i><span class="bolder" > Office: </span><span class="bolder"> The President</span><br>
                        <i class="fa fa-paper-plane Excos" aria-hidden="true"></i><span class="Excos"> Level: </span><span> 500</span><br>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>

            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <!-- <span class="carousel-control-prev-icon" aria-hidden="true" style="color: #377DFF;"></span> -->
              <i class="fa fa-arrow-left" style="color: #377DFF; background-color:white; padding:14px;border-radius:10px;"  aria-hidden="true"></i>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
              <i class="fa fa-arrow-right" style="color:#377DFF; background-color:white; padding:14px;border-radius:10px;"  aria-hidden="true"></i>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
          
      </div> 

    </div>

    <div class="container">
      <div class="section">
        <div class="row">

        </div>
      </div>
    </div>
  
  </section>



    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="Js/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" type="text/javascript" ></script>
    <script src="Js/main.js" ></script>
</body>
</html>