<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Life Campus Fellowship, FUTA</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" type="text/css" rel="stylesheet" >
    <link href="css/style.css"  rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
    <link href="owl.carousel.min.css" rel="stylesheet">
    <link href="owl.theme.default.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css " rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body>
   <!-- Navbar Begins -->
  <nav class="navbar navbar-expand-lg navbar-light ftco_navbar bg-light ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <div class="float-right" style="width: 80%;"> 
        <a class="navbar-brand" href="/"><img src="../img/new life logo.png" style="width: 12%;"></a>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="menu-btn"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
          <li class="nav-item"><a href="/events" class="nav-link">Events</a></li>
          <li class="nav-item"><a href="/messages" class="nav-link">Messages</a></li>
          <li class="nav-item active"><a href="/blogs" class="nav-link">Blog</a></li>
          <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar Ends -->

  <div class="blog-top-img">
  <h2 class="top-text">Blog Single</h2><br>
  </div><br><br>
  <!-- End of top heading section -->

  <section>
    <div class="container">
      <section class="ftco-section ftco-degree-bg">
        <div class="container">
          <div class="row">
            
            <div class="col-lg-8 ftco-animate">
              <!-- blog img -->
              <img src="<%= blog.imgUrl %>" style="width: 100%;">
              <h2 class="mb-3"><%= blog.title %></h2>
              <p>
                <%= blog.content %>
              </p>
  
            </div> 
            
            <!-- .col-md-8 -->

            <div class="col-lg-4 sidebar ftco-animate">
              <div class="sidebar-box">
                <form action="#" class="search-form">
                  <div class="form-group">
                    <span class="icon icon-search"></span>
                    <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                  </div>
                </form>
              </div>
              <div class="sidebar-box ftco-animate">
                <div class="categories">
                  <h3>Categories</h3>
                  <li><a href="#">Faith <span class="ion-ios-arrow-forward"></span></a></li>
                  <li><a href="#">Spiritual Growth <span class="ion-ios-arrow-forward"></span></a></li>
                  <li><a href="#">Prayer <span class="ion-ios-arrow-forward"></span></a></li>
                  <li><a href="#">Relationship <span class="ion-ios-arrow-forward"></span></a></li>
                  <li><a href="#">Bible Study <span class="ion-ios-arrow-forward"></span></a></li>
                </div>
              </div>
              
              <div class="sidebar-box">
                <h5 class="bolder">Recent Blogs</h5>
                <div class="row">
                  <% for (var i = 0; i < blog.length; i++  ){ %>
                    <div class="">
                      <div class="col-sm-4">
                        <img src="<%= blog[i].imgUrl %>" style="width: 100%;">
                      </div>
                      <div class="col-sm-8">
                        <div class="text">
                          <h3 class="blog-heading"><a href="#"><%= blog[i].excerpt %></a></h3>
                          <a class="#">
                            <i class="fa fa-calendar" aria-hidden="true">
                              <span class="day"><%= blog[i].date.toString().slice(0,4) %></span>
                              <span class="day"><%= blog[i].date.toString().slice(8,10) %></span>
                              <span class="mos"><%= blog[i].date.toString().slice(4,7) %></span>
                              <span class="yrs"><%= blog[i].date.toString().slice(11,15) %></span>
                            </i>
                            <i class="fa fa-user" aria-hidden="true"> Admin</i>
                            <i class="fa fa-tags" aria-hidden="true"> <%= blog[i].category %></i>
                          </a> 
                        </div>
                      </div>
                    </div>
                  <% } %>
                </div>
                
              </div>
  
              
            </div>
            
          </div>
        </div>
      </section> <!-- .section -->
    </div>
  </section>


   
   <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
   <script src="Js/owl.carousel.min.js"></script>
   <script src="js/jquery.min.js"></script>
   <script src="js/jquery-migrate-3.0.1.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> 
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" type="text/javascript" ></script>
   <script src="Js/main.js" ></script>
</body>
</html>