<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Life Campus Fellowship, FUTA</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" type="text/css" rel="stylesheet" >
  <link href="css/style.css"  rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
  <link href="owl.carousel.min.css" rel="stylesheet">
  <link href="owl.theme.default.min.css" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css " rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <!-- Navbar Begins -->
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container"> 
      <div class="float-right" style="width: 80%;"> 
        <a class="navbar-brand" href="/"><img src="../img/new life logo.png" style="width: 12%;"></a>
      </div>
    
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav" style="text-align: right;">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
          <li class="nav-item active"><a href="/events" class="nav-link">Events</a></li>
          <li class="nav-item"><a href="/messages" class="nav-link">Messages</a></li>
          <li class="nav-item"><a href="/blogs" class="nav-link">Blogs</a></li>
          <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
        </ul>
      </div>     
    </div>
  </nav>
<!-- Navbar Ends -->

  <div class="event-top-img">
    <h2 class="top-text">Up Coming Events</h2><br>
  </div>

  <section>
    <div class="container">
      <div class="section">
        <div class="row">
          <% for (var i = 0; i < event.length; i++  ){ %>
          <div class="col-sm-4 justify-content-center d-flex">
              <div class="">
                  <!-- <a href="#exampleModal2" class=" blog-a" data-toggle="modal" data-target="#exampleModal2"> -->
                  <img src="<%= event[i].imgUrl %>" height="150px" class="msg-img">
      
                  <div class="box-cont shadow p-3 mb-5 bg-white rounded">
                      <h5 class="blog-title"><%= event[i].title  %></h5>
                      <i class="fa fa-calendar blog-icons" aria-hidden="true">
                        <span class="day"><%= event[i].date.toString().slice(0,4) %></span>
                        <span class="day"><%= event[i].date.toString().slice(8,10) %></span>
                        <span class="mos"><%= event[i].date.toString().slice(4,7) %></span>
                        <span class="yrs"><%= event[i].date.toString().slice(11,15) %></span>
                      </i><br>
                      <i class="fa fa-map-marker" aria-hidden="true" style="color:#495057;"></i><span class="bolder" style="color:#495057;"> Location: <%= event[i].venue %></span><br>
                      <p class="blog-text" style="color: #768495;"><%= event[i].excerpt %></p>
                      
                  </div>
                  <!-- </a> -->
              </div>
          </div>
          <% } %>
      </div>
      </div>
    </div>
  </section>


    <!-- bottom  section-->
    <div class="bottom-section">
    <hr style="background-color: gold; height: 2px;">
    <!-- <div class="container"> -->
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <div class="section">
            <div class="row">
              <div class="col-sm-3">
                <div class="" style="width: 10%; height: 10%;">
                  <img src="../img/new life logo.pn"><br><br>
                </div>
                <span style="color: #768495;"><i class="fa fa-map-marker" aria-hidden="true"></i> 153 William plaza Futa, Akure</span><br><br>
                
                <span><a href="" class="btm-link blog-a"><i class="fa fa-phone" aria-hidden="true"></i> +234 8102396347</a></span><br><br>
              </div>

              <div class="col-sm-3">
                <h3 style="color: white;">Quick links</h3><br><br>
                <span><a href="" class="btm-link blog-a"> About us</a></span><br><br>
                <span><a href="" class="btm-link blog-a"> Contact us</a></span><br><br>
                <span><a href="" class="btm-link blog-a"> Sermons</a></span><br><br>
                <span><a href="" class="btm-link blog-a"> Events</a></span><br><br>
                <span><a href="" class="btm-link blog-a"> Blogs</a></span><br><br>
                
              </div>

              <div class="col-sm-3">
                <h3 style="color: white;">Get this</h3><br><br>
                <span><a href="" class="btm-link blog-a"> The spirit & the flesh</a></span><br><br>
                <span><a href="" class="btm-link blog-a"> Spiritual fruitfulness</a></span><br><br>
                <span><a href="" class="btm-link blog-a"> Dominion through the word</a></span><br><br>
              </div>

              <div class="col-sm-3">
                <h3 style="color: white;">Service Days</h3><br><br>
                <span style="color: #768495;"> Tuesday: Bible study<br>
                <i class="fa fa-clock-o" aria-hidden="true" style="color: #768495;"></i><span class="" style="color: #768495;"> 6:00pm - 7:30pm</span><br><br>

                <span> Friday: Destiny Clinic</span><br>
                <i class="fa fa-clock-o" aria-hidden="true" style="color: #768495;"></i><span class="" style="color: #768495;"> 6:00pm - 7:30pm</span><br><br>

                <span> Sunday: Glorious Service</span><br>
                <i class="fa fa-clock-o" aria-hidden="true" style="color: #768495;"></i><span class="" style="color: #768495;"> 8:00am - 10:30am</span><br><br>
              </div>

              
            </div>
            <hr style="background-color: gold;">
            <center>
              <p style="color: white;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe quae blanditiis provident? Dolores nesciunt dignissimos </p>
              <!--twitter-->
              <a href=""><button type="button" class="btn social-link"><i class="fa fa-twitter"></i></button></a>
              <!--Google-->
              <a href=""><button type="button" class="btn social-link"><i class="fa fa-whatsapp"></i> </button></a>
              <!--Google-->
              <a href=""><button type="button" class="btn social-link"><i class="fa fa-facebook"></i> </button></a>
              <!--Google-->
              <a href=""><button type="button" class="btn social-link"><i class="fa fa-instagram"></i> </button></a>
              <!--Youtube-->
              <a href=""><button type="button" class="btn social-link"><i class="fa fa-youtube"></i> </button></a>
            </center>
          </div>
          <div class="col-sm-1"></div>
        </div>
      </div>
    <!-- </div> -->
    
  </div>
  <!-- Bottom section Ends -->

   <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
   <script src="Js/owl.carousel.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> 
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" type="text/javascript" ></script>
   <script src="Js/main.js" ></script>
</body>
</html>


